<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b696b4df-5dbc-4dfb-9a8c-4c937ef3a3d5" Publisher="CN=adam" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MetroGrocer</DisplayName>
    <PublisherDisplayName>adam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>MetroGrocer</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MetroGrocer.App">
      <VisualElements DisplayName="MetroGrocer" Logo="Assets\tile150.png" SmallLogo="Assets\tile30.png" Description="MetroGrocer" ForegroundText="light" BackgroundColor="#3E790A">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\tile310.png" ShortName="Grocer" />
        <SplashScreen Image="Assets\tile620.png" BackgroundColor="#3E790A" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>